ul{
    list-style-type: none;
}
.header_log_brand{
    height: 100px;
}
.header_col2-5{
      margin-top: 30px;
}
.header_col4_korzinka{
      margin-left: 200px;
      display: flex;
      justify-content: end;
}
.header_4coll_My_account{
      text-decoration: none;
      font-size: 20px;
      border: solid 1px red;
      background-color: red;
      height: 200px;
      width: 300px;
           
}
.nav-link{
    color: black;
    font-weight: 600;
    }
    .first_rose_stroke{
    height: 150px;
    background-color: rgb(221, 206, 206);
    }
    .rose_stroke_col{
          display: flex;
          justify-content: center;
          margin-top: 50px;
    }
.main_conteiner{
    display: flex;
    justify-content: space-around;
}
.accordion-button{
    color: red;
}
.main_size{
    width: 140px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.form-check{
    width: 20px;
    margin-right: 20px;
}
.main_sortby{
    background-color: grey;
}
.main_sortby_name_09{
    display: flex;
    justify-content: flex-start;
}
.card{
    margin-top: 50px;
}

footer{
    margin-top: 70px;
}

.block_black_colour{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 341px;
}
.img_block_black{
    width: 360px;
    height: 133px;
    margin-top: 100px;
}
.pered_futer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 448px;
    background-image: url(Images/Layer_full.png);
}
.pered_futer_left{
    margin-left: 210px;
    margin-top: 87px;
}
.pered_futer_right{
    margin-right: 210px;
    margin-top: 150px;
    text-align: center;
}
.pered_futer_right_form{
    margin-top: 32px;
}
.pered_futer_button{
    width: 100px;
    height: 49px;
    border-radius: 0 30px 30px 0;
    background-color: rgba(241, 109, 127, 1);
}
.pered_futer_input{
    background-color: rgba(225, 225, 225, 1);
    width: 256px;
    height: 49px;
}
.footer_discription{
    margin-top: 35px;  
}
.footer_discription li{
      margin-top: 22px;
}
.footer_discription a{
      text-decoration: none;
      color: black;
}
.footer{
    width: 100%;
    height: 79px;
    background-color: grey;
    display: flex;
    justify-content: space-between;

}
.footer_left{
   margin-top: 30px;
   margin-left: 235px;
}
.footer_right{
    margin-top: 24px;
    margin-right: 347px;
}
.footer_link_s_networks{
      display: flex;
      justify-content: flex-end;
      
      
}
.footer_link_s_networks li{
      margin-right: 15px;
}
.footer_link_s_networks a{
      color: white;
}
.footer_link_s_networks a:hover{
      color: red;
}