*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    
}
.login{
    margin-top: 30px;
}
.input_check{
    display: inline;
}